{{#if errors}}
    <div class="alert alert-primary" role="error">
        Login failed! Try again with other credentials!
    </div>
{{/if}}
<h1>Login</h1>
<form action="/auth/login" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div>
        Username: <input type="text" name="username" class="form-control">
    </div>
    <div>
        Password: <input type="password" name="password" class="form-control">
    </div>
    <input type="submit" value="Login!" class="btn btn-primary" class="btn btn-primary">
</form>
