<h1>Logout Confirmation</h1>
<form action="/auth/logout" method="POST">
    <div>
        Are you sure you want to log out?
    </div>
    <input type="submit" value="Logout!" class="btn btn-primary" class="btn btn-primary">
</form>