<h1>Login</h1>
<form action="/auth/logout" method="POST">
    <div>
        Are you sure you want to log out?
    </div>
    <input type="submit" value="Login!" class="btn btn-primary" class="btn btn-primary">
</form>