<h1 class="center">Welcome!</h1>
<p class="center">Welcome to my page! Here you'll find more about me. you can
  ask me questions, read my blog and also read more information about me.
</p>
<img id="startGif" src="michael_scott_gif.gif"/>