@media (min-width: 600px) {
	body {
		display: grid;
		grid-template-rows: auto auto auto;
		grid-template-columns: 0px 1fr;
		max-width: 1000px;
		margin: 0 auto;
		padding: 8px;
	}
	header {
		grid-row: 1 / span 1;
		grid-column: 1 / span 2;
	}
	button {
		margin: 10px;
		padding: 10px;
	}
	a {
		margin: 10px;
		padding: 10px;
	}
	input {
		margin: 0 auto;
		padding: 10px;
	}
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	main {
		grid-row: 2 / span 1;
		grid-column: 2 / span 1;
	}
	footer {
		grid-row: 3 / span 1;
		grid-column: 1 / span 2;
	}
}

@media (max-width: 599px) {
	header {
		border-bottom: 3px solid black;
	}
	nav {
		border-bottom: 3px solid black;
	}
}

header {
	border-bottom: 3px solid;
	text-align: center;
	font-size: 300%;
	text-decoration: underline;
}

main {
	padding: 4px;
}

footer {
	text-align: center;
	/*border-top: 3px solid black; */
}


/*
* BOOTSTRAP
 */

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	/* 5px rounded corners */
	width: 150%;
}


/* Deeper shadow on mouse over */

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Card Containers */

.container {
	padding: 2px 16px;
}

.greyedOut {
	color: grey
}

img {
	margin: 25px 25px 150px 25px;
}

/*About.hbs*/

#aboutDiv2 {
	width: 30%;
	float: right;
}

#aboutDiv1 {
	width: 70%;
	float: left;
}

#aboutH4 {
	float: left;
}

#hisaoImage {
	width: 400px;
	height: 500px;
}

#startGif {
	margin: auto;
	display: block;
}

#cards {
	width: auto;
}

#loginButtons {
	color: rgb(0, 153, 255);
}

#nav ul {
	display: inline-block;
	list-style-type: none;
}