<h1>Ask questions</h1>


{{#if errors.length}}
    <div class="alert alert-primary" role="alert">
        Couldn't fetch the blog posts at the moment, try again later.
    <p>Couldn't add a question due to:</p>
    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    </div>
{{/if}}

<form action="/faqs/ask" method="POST">
    <div>
        Your Name: <input type="text" name="name" class="form-control">
    </div>
    <div>
        Question to ask:<br>
        <textarea name="question" class="form-control"></textarea>
    </div>
    <div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>