<h1>Delete FAQ Entry</h1>
<p>Are you sure you want to delete the question <b>{{faq.question}}</b>? This action cannot be reversed.</p>
<form action="/faqs/{{faq.id}}/delete" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="submit" value="I'm sure!" class="btn btn-primary">
    <a href="/faqs">Cancel</a>
</form>