<h1>Delete FAQ Entry</h1>
<p>Are you sure you want to delete {{question.question}}? This action cannot be reversed.</p>
<form action="/products/{{quesion.id}}/delete" method="post">
    <input type="submit" value="I'm sure!">
</form>