<h1>Delete Blog Post</h1>
<p>Are you sure you want to delete the entry named {{blogpost.name}}?</p>
<form action="/products/{{blogpost.id}}/delete" method="post">
    <input type="submit" value="Delete!">
</form>