<h1>Delete Blog Post</h1>
<p>Are you sure you want to delete the entry named {{name}}?</p>
<form action="/blog/{{id}}/delete" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="submit" value="Delete!" class="btn btn-primary">
</form>